.video-presentation{
    background-blend-mode: multiply;
    background-color: rgba(128, 128, 128, 0.795);
    background-image: url('../Main/VideoPresentation/background.png');
    height: 700px;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}